
<div class="row clearfix">
    <h1 ng-bind="title"></h1>
    <div class="col-fixed-1">
        <label ng-bind="message" for="selectcity"></label>
        <select name="selectcity" ng-model="selectedcity" ng-options="key as value for (key , value) in cities"></select>
    </div>
    <div class="col-fixed-1">
        <label>Temperature</label>
        <input type="radio" ng-model="tempformat" value="C"> C
        <input type="radio" ng-model="tempformat" value="F"> F
    </div>
</div>

<h2>Right Now </h2>
<!--First Template-->
<w-today info="weather" tempformat="tempformat" selectedcity="selectedcity"></w-today>
<!--Second template-->
<h2>5-Day Forecast</h2>
<w-5day info="weather5" tempformat="tempformat" selectedcity="selectedcity"></w-5day>
<div class="row clearfix">
    <h3>The next 5 days look like this</h3>
    <div resp-chart chart-data="dataset"></div>
</div>

<h2>This Weeks forecast</h2>
<div class="row clearfix">
    <input class="col-fixed-1" type="range" min="1" max="7" step="1" value="0">
</div>
<w-7day info="weather7" tempformat="tempformat" selectedcity="selectedcity"></w-7day>

<div class="row clearfix">
    <div class="col-fluid-1-2 cyan">
        <h2 class="text-center">08/23/2015, Sunday</h2>

        <div class="row clearfix">
            <div class="col-fluid-1-2 text-center">
                <span class="mainweathericon nightclear"></span>
                <h1>78F</h1>
                <p><strong>Mostly sunny</strong></p>
            </div>
            <div class="col-fluid-1-2">
                <p><strong>Humidity </strong>56%</p>
                <p><strong>Cloudiness </strong>95%</p>
                <p><strong>Wind </strong>99.99mph WNW</p>
                <p><strong>Pressure </strong>1012hpa</p>
                <p><strong>Rain? </strong>10%</p>
                <p><strong>Sunrise </strong>5:30AM</p>
                <p><strong>Sunset </strong>7:30PM</p>
            </div>
        </div>
    </div>
</div>


<!--<div>
    <weather-today info="weather" tempformat="tempformat" selectedcity="selectedcity"></weather-today>
    <weather-six info="weather16" tempformat="tempformat" selectedcity="selectedcity"></weather-six>
</div>
<hr>
<h2>Hour-by-hour forecast</h2>
<my-customer></my-customer>
<button id="resetgraph">Reset</button>
<div simple-chart chart-data="lineData"></div>
<hr>-->

<!--http://briantford.com/blog/angular-d3-->