<div class="row clearfix">
    <div class="col-fluid-1-2 amber">
        <h2 class="text-center">{{info.dt| mydate}} {{info.dt| mytime}}</h2>
        <hr>
        <div class="row clearfix">
            <div class="col-fluid-1-2 text-center">
                <figure>
                    <img ng-src="http://openweathermap.org/img/w/{{info.weather[0].icon}}.png"
                         title="{{info.weather[0].description}}"
                         alt="{{info.weather[0].description}}">
                    <figcaption>{{info.weather[0].description}}</figcaption>
                </figure>
                <h1>{{info.main.temp}}{{tempUnit}}</h1>
            </div>
            <div class="col-fluid-1-2">
                <p><strong>Humidity </strong> {{info.main.humidity}}%</p>
                <p><strong>Cloudiness </strong> {{info.clouds.all}}%</p>
                <p><strong>Wind </strong> {{info.wind.speed}}m/s {{info.wind.deg| mydirection}}</p>
                <p><strong>Pressure </strong> {{info.main.pressure}}hpa</p>
                <p><strong>Todays Max</strong> {{info.main.temp_max}}{{tempUnit}}</p>
                <p><strong>Todays Min</strong> {{info.main.temp_min}}{{tempUnit}}</p>
                <p><strong>Rain?</strong> {{i.rain? i.rain : 0}}%</p>
                <p><strong>Sun rise</strong> {{info.sys.sunrise| mytime}}</p>
                <p><strong>Sun set</strong> {{info.sys.sunset| mytime}}</p>
            </div>
        </div>
    </div>
</div>

